* {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #eeeedd;
  color: #443355;
}
button {
  border: 0;
  background: none;
}
input {
  width: 40%;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 14px;
}
ul {
  list-style-type: none;
  margin: 32px 0;
  padding: 0;
}
li {
  text-align: left;
  font-size: 20px;
}

#git {
  color: #443355;
}

.add-btn {
  background-color: #55eb7f;
  border: none;
  color: white;
  padding: 14px;
  font-size: 16px;
  border-radius: 4px;
}
.add-btn:hover {
  filter: brightness(50%);
}
.remove-btn {
  float: right;
  color: red;
}
.remove-btn:hover {
  filter: brightness(50%);
}
.edit-btn {
  margin-left: 8px;
  float: right;
  color: rgb(29, 142, 202);
}
.edit-btn:hover {
  filter: brightness(50%);
}
.check-btn {
  color: #55eb7f;
}
.check-btn:hover {
  filter: brightness(50%);
}
.list-group {
  display: inline-block;
  width: 50%;
}
.task-text {
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.complete {
  text-decoration: line-through;
}

.edit-mode {
  background-color: #eeeedd;
}
:focus {
  outline: none;
}
